<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pth.mapper.PostMapper">
	<insert id="insert">
		insert into tbl_post (post_no, user_no, email, content)
		values (seq_post.nextval, #{user_no}, #{email}, #{content})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="post_no" order="BEFORE" resultType="long">
			select seq_post.nextval from dual
		</selectKey>
		
		insert into tbl_post (post_no, user_no, email, content)
		values (#{post_no}, #{user_no}, #{email}, #{content})
	</insert>
	
	<select id="read" resultType="org.pth.domain.PostVO">
		select * from tbl_post where post_no = #{post_no}
	</select>
	
	<delete id="delete">
		delete from tbl_post where post_no = #{post_no}
	</delete>
	
	<delete id="deleteReplyInPost">
		delete from tbl_reply where post_no = #{post_no}
	</delete>
	
	<update id="update">
		update tbl_post
		set
			content = #{content},
			modDate = sysdate
		where
			post_no = #{post_no}
	</update>
	
	<select id="getList" resultType="org.pth.domain.PostVO">
	<![CDATA[
		select
			*
		from tbl_post
		where post_no > 0
		order by post_no desc
	]]>
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) 
		from tbl_post 
		where email = #{email}
	</select>
</mapper>