<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pth.mapper.UserMapper">
	<resultMap type="org.pth.domain.UserVO" id="userMap">
		<id property="user_no" column="user_no"/>
		<result property="user_no" column="user_no"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="username" column="username"/>
		<result property="regDate" column="regDate"/>
		<result property="phoneNum" column="phoneNum"/>
		<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="org.pth.domain.AuthVO" id="authMap">
		<result property="email" column="email"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<insert id="insert">
		insert into tbl_user (user_no, email, password, name, username)
		values (seq_user.nextval, #{email}, #{password}, #{name}, #{username})
	</insert>
	
	<select id="read" resultType="org.pth.domain.UserVO">
		select * from tbl_user where user_no = #{user_no}
	</select>
	
	<select id="readByEmail" resultMap="userMap">
		select
			mem.email, password, name, username, enabled, regDate, auth
		from
			tbl_user mem LEFT OUTER JOIN tbl_user_auth auth on mem.email = auth.email
		where mem.email = #{email}
	</select>
	
	<delete id="delete">
		delete from tbl_user where user_no = #{user_no}
	</delete>
	
	<update id="update">
		update tbl_user
		set
			<choose>
				<when test="phoneNum != null">
					phoneNum = #{phoneNum},
				</when>
				<otherwise>
					phoneNum = null,
				</otherwise>
			</choose>
			name = #{name},
			username = #{username}
		where
			user_no = #{user_no}
	</update>
</mapper>